In [3]:
# Package
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

allocine = pd.read_excel(r"C:\Users\maoui\OneDrive\Documents\Data Scientest\DTS - Projet\allocineV3-ND.xlsx")
allocine.head()

,ID,titre,titre_original,acteurs,acteur_1,acteur_2,acteur_3,acteur_4,realisateur,real_1,...,cumul_france,premiere_semaine_US,cumul_US,date2,annee,jour_split,mois_split,annee_split,day_of_week_split,year
0,1317,Vivre !,NaN,"Aymeric Cormerais, Jean-Jacques Le Vessier, Ga...",Aymeric Cormerais,Jean-Jacques Le Vessier,GaÃ«l Tanniou,Lydie WaÃ¯,Yvon Marciano,Yvon Marciano,...,3364.0,NaN,NaN,2009-10-07,2009.0,7.0,10.0,2009.0,2.0,2009.0
1,2314,La PassagÃ¨re,Pasazerka,"Anna Ciepielewska, Aleksandra Slaska, Jan Krec...",Anna Ciepielewska,Aleksandra Slaska,Jan Kreczmar,Marek Walczewski,"Andrzej Munk, Witold Lesiewicz",Andrzej Munk,...,2640.0,NaN,NaN,1964-10-28,1964.0,28.0,10.0,1964.0,2.0,2023.0
2,3239,The Lodger: A Story of the London Fog,NaN,"Marie Ault, Arthur Chesney, Reginald Gardiner,...",Marie Ault,Arthur Chesney,Reginald Gardiner,Alfred Hitchcock,Alfred Hitchcock,Alfred Hitchcock,...,1084.0,NaN,NaN,2010-11-17,2010.0,17.0,11.0,2010.0,2.0,2010.0
3,4389,Sao Bernardo,NaN,"Rodolfo Arena, Othon Bastos, Luiz Carlos Braga...",Rodolfo Arena,Othon Bastos,Luiz Carlos Braga,Josef Guerreiro,Leon Hirszman,Leon Hirszman,...,287.0,NaN,NaN,2014-06-11,2014.0,11.0,6.0,2014.0,2.0,2014.0
4,5134,El Otro Cristobal,NaN,"Jean Bouise, Alden Knight, Bertina Acevedo, Pi...",Jean Bouise,Alden Knight,Bertina Acevedo,Pierre Chaussat,Armand Gatti,Armand Gatti,...,1355.0,NaN,NaN,2019-09-18,2019.0,18.0,9.0,2019.0,2.0,2019.0

In [4]:
allocine.shape

(11074, 44)

In [5]:
# Vérification de l'absences de valeurs manquantes pour la colonne duree
allocine.isna().sum()

ID                             0
titre                          0
titre_original              7037
acteurs                     1726
acteur_1                    1914
acteur_2                    2114
acteur_3                    2249
acteur_4                    2401
realisateur                  321
real_1                       343
real_2                      9954
real_3                     10892
genres                       325
genre_1                      325
genre_2                     6220
genre_3                     9418
genre_4                    10876
genre_5                    11053
genre_6                    11072
genre_7                    11073
scenariste                  1113
scen_1                      1187
scen_2                      4648
scen_3                      7687
duree                        423
note_presse                  322
note_spectateurs             953
pays                         294
distributeur                 439
distrib_1                    439
distrib_2                  10841
distrib_3                  11073
budget                     11074
premiere_semaine_france      284
cumul_france                 284
premiere_semaine_US         8715
cumul_US                    8768
date2                        284
annee                        284
jour_split                   284
mois_split                   284
annee_split                  284
day_of_week_split            284
year                         284
dtype: int64

In [6]:
# Créer un nouveau DataFrame avec les colonnes ID et duree
allocine_duree = allocine.loc[:, ['ID', 'duree']]

# Afficher les premières lignes du nouveau DataFrame pour vérification
print(allocine_duree.head())

     ID  duree
0  1317  103.0
1  2314   62.0
2  3239   79.0
3  4389  113.0
4  5134  115.0

In [7]:
# On regarde si on peut remplacer les NA de la colonne runtime_x par une moyenne ou une mediane
allocine_duree['duree'].describe()

count    10651.000000
mean       100.973993
std         21.393320
min         24.000000
25%         90.000000
50%         98.000000
75%        110.000000
max        543.000000
Name: duree, dtype: float64

In [8]:
# On va maintenant remplacer les valeurs manquantes de la durée par la médiane car le nombre important de valeurs extrêmes influences nécessairement plus la moyenne.
median_duree = allocine['duree'].median()
allocine_duree['duree'].fillna(median_duree, inplace=True)

In [10]:
# Vérification de l'absences de valeurs manquantes pour la colonne duree
allocine_duree.isna().sum()

ID       0
duree    0
dtype: int64

In [11]:
# Enregistrer le DataFrame au format CSV avec le chemin spécifié
allocine_duree.to_csv(r'C:\Users\maoui\OneDrive\Documents\Data Scientest\DTS - Projet\allocine_duree.csv', index=False)