In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os
import re
import unicodedata
from unidecode import unidecode
os.chdir('D:\Sylvain\GitHub\Model-Cinema')
#***********************************************************************
df=pd.read_csv('Data/jpbox new devise.csv',sep=';')
df.head()
# 'on enl√®ve les accents des titres'#
df['titre']=df['titre'].str.replace(' ', '', regex=True) # on enl√®ve tous les espaces
df['titre'].fillna('XXXX', inplace=True) # ca sert √† √©viter de faire planter le split si valeur Nan
df['titre']=df['titre'].apply(unidecode) #on enl√®ve les accents
df['titre']=df['titre'].replace('XXXX',np.NaN,regex=True) # et je retire les XXXX
df.head()

df2=pd.read_csv('Data/allocineV8-SB.csv')
df2.head(20)
# 'on enl√®ve les accents des titres'#
df2['titre_original']=df2['titre_original'].str.replace(' ', '', regex=True) # on enl√®ve tous les espaces
df2['titre_original'].fillna('XXXX', inplace=True) # ca sert √† √©viter de faire planter le split si valeur Nan
df2['titre_original']=df2['titre_original'].apply(unidecode) #on enl√®ve les accents
df2['titre_original']=df2['titre_original'].replace('XXXX',np.NaN,regex=True) # et je retire les XXXX
df2.head()

# on fait un join left sur le titre
merge = pd.merge(df2, df, left_on = 'titre_original', right_on = 'titre',how='left')
merge.head(20)
merge.to_csv('Data/merge.csv')
df2.head(20)

,ID,titre_original,acteur_1,acteur_2,acteur_3,acteur_4,real_1,real_2,real_3,scen_1,...,genre_7,pays,jour_sortie,mois_sortie,annee_sortie,day_of_week_sortie,note_presse,duree,premiere_semaine_france,Budget_dollards
0,1317,Vivre!,AymericCormerais,Jean-JacquesLeVessier,GaelTanniou,LydieWai,YvonMarciano,NaN,NaN,YvonMarciano,...,NaN,France,7.0,10.0,2009.0,2.0,1.9,103.0,3012.0,NaN
1,2314,Pasazerka,AnnaCiepielewska,AleksandraSlaska,JanKreczmar,MarekWalczewski,AndrzejMunk,WitoldLesiewicz,NaN,ZofiaPosmysz,...,NaN,Pologne,28.0,10.0,1964.0,2.0,4.6,62.0,1420.0,NaN
2,3239,TheLodger:AStoryoftheLondonFog,MarieAult,ArthurChesney,ReginaldGardiner,AlfredHitchcock,AlfredHitchcock,NaN,NaN,EliotStannard,...,NaN,Grande-Bretagne,17.0,11.0,2010.0,2.0,5.0,79.0,615.0,15240.0
3,4389,SaoBernardo,RodolfoArena,OthonBastos,LuizCarlosBraga,JosefGuerreiro,LeonHirszman,NaN,NaN,LeonHirszman,...,NaN,Br√©sil,11.0,6.0,2014.0,2.0,4.3,113.0,156.0,NaN
4,5134,ElOtroCristobal,JeanBouise,AldenKnight,BertinaAcevedo,PierreChaussat,ArmandGatti,NaN,NaN,ArmandGatti,...,NaN,Cuba,18.0,9.0,2019.0,2.0,4.0,115.0,436.0,NaN
5,5598,TorchSongTrilogy,AnneBancroft,MatthewBroderick,HarveyFierstein,BrianKerwin,PaulBogart,NaN,NaN,HarveyFierstein,...,NaN,U.S.A.,2.0,5.0,1990.0,2.0,4.0,120.0,661.0,4865997.0
6,5818,Titanic,LeonardoDiCaprio,KateWinslet,BillyZane,KathyBates,JamesCameron,NaN,NaN,JamesCameron,...,NaN,U.S.A.,7.0,1.0,1998.0,2.0,4.9,194.0,498212.0,200000000.0
7,5847,OctobreaParis,NaN,NaN,NaN,NaN,JacquesPanijel,NaN,NaN,NaN,...,NaN,France,19.0,10.0,2011.0,2.0,3.8,70.0,1651.0,NaN
8,6318,L'Enfer,EmmanuelleBeart,KarinViard,MarieGillain,CaroleBouquet,DanisTanovic,NaN,NaN,KryzsztofPiesiewicz,...,NaN,France,30.0,11.0,2005.0,2.0,2.2,95.0,43689.0,595618.0
9,6328,Anna,AnnaKarina,Jean-ClaudeBrialy,SergeGainsbourg,MarianneFaithfull,PierreKoralnik,NaN,NaN,PierreKoralnik,...,NaN,France,13.0,1.0,1967.0,4.0,4.0,87.0,1417.0,NaN
10,6450,Tellmelies,MarkJones,RobertLloyd,GlendaJackson,EricAllan,PeterBrook,NaN,NaN,PeterBrook,...,NaN,Grande-Bretagne,10.0,10.0,2012.0,2.0,3.8,108.0,3901.0,NaN
11,6615,Grazuole,IngaMickyte,LilijaZhadeikyte,ArvidasSamukas,TaurasRagalevicius,ArunasZebriunas,NaN,NaN,JurijusJakovlevas,...,NaN,Lituanie,22.0,8.0,2018.0,2.0,3.9,65.0,1200.0,NaN
12,7118,Lesconvoyeursattendent,BenoitPoelvoorde,DominiqueBayens,BouliLanners,MorganeSimon,BenoitMariage,NaN,NaN,BenoitMariage,...,NaN,Belgique,15.0,9.0,1999.0,2.0,3.5,94.0,52649.0,5518.0
13,8037,Grandeuretdecadenced'unpetitcommercedecinema,Jean-PierreLeaud,Jean-PierreMocky,CarolineChampetier,NathalieRichard,Jean-LucGodard,NaN,NaN,JamesHadleyChase,...,NaN,Suisse,4.0,10.0,2017.0,2.0,4.0,91.0,1503.0,NaN
14,8615,Hanyo,Eun-shimLee,Jeung-nyeoJu,JinKyuKim,Sung-keeAhn,KimKi-Young,NaN,NaN,KimKi-Young,...,NaN,Cor√©e du Sud,15.0,8.0,2012.0,2.0,4.1,111.0,6481.0,NaN
15,8727,2/dyuo,YuEri,HidetoshiNishijima,OtaniKenjiro,YamamotoMiyuki,NobuhiroSuwa,NaN,NaN,NaN,...,NaN,Japon,31.0,10.0,2012.0,2.0,3.9,90.0,1513.0,NaN
16,9906,Happy-Go-Lucky,SallyHawkins,AlexisZegerman,AndreaRiseborough,SineadMatthews,MikeLeigh,NaN,NaN,MikeLeigh,...,NaN,Grande-Bretagne,27.0,8.0,2008.0,2.0,3.9,118.0,110442.0,3512016.0
17,10675,Cornouaille,VanessaParadis,SamuelLeBihan,JonathanZaccai,LaurentStocker,AnneLeNy,NaN,NaN,AnneLeNy,...,NaN,France,15.0,8.0,2012.0,2.0,3.0,96.0,128162.0,1805634.0
18,10862,TheLionKing,NaN,NaN,NaN,NaN,RogerAllers,RobMinkoff,NaN,JimCapobianco,...,NaN,U.S.A.,23.0,11.0,1994.0,2.0,3.4,89.0,210904.0,45000000.0
19,11276,Parc,Jean-MarcBarr,SergiLopez,NathalieRichard,DelphineChuillot,ArnauddesPallieres,NaN,NaN,ArnauddesPallieres,...,NaN,France,14.0,1.0,2009.0,2.0,2.8,109.0,4012.0,47307.0